<!DOCTYPE html>
<html  manifest="apply.appcache">

<head>
  <meta charset="utf-8" />
  <title>申请退款</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <meta name="format-detection" content="telephone=no"/>
  <meta name="format-detection" content="email=no" />
  <%- CSS("m-css-base/css/style.css,util-m-confirm/css/style.css,../../css/apply.css") %>
</head>
<body id="loading" class="body" >
  <div class="apply-container J_apply" id="apply">
  </div>
  
  <%- JS('app-refund-static/entries/apply') %>
</body>
</html>
